{% extends 'index.html' %}

{% block title %}
    Конец эксперимента 
{% endblock %}


{% block nav %}
    Благодарим вас за участие в эксперименте!!
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <p class="lead">Вы достигли необходимого количества ответов, или ответили на максимальное число вопросов.</p> 
        <h1>Большое спасибо!</h1>
        <p class="lead">Мы благодарны вам за участие. Вы можете так же помочь нам, рассказав друзьям об этом эксперименте.</p>
    </div>
{% endblock %}